
    <section class="body">
        <div class="container">
<img src="../public/images/egg-fried-rice.jpg" alt="eggFried" class="img">
</div>
<div class="receipe">
    <h3>EGG FRIED RICE</h3>
    <br>
    <p>RECEIPE: <br> EGG, RICE, ONION</p>
   
</div>
    <div>
        <a href="/"><i class="em em-bowl_with_spoon" id="homeBtn" aria-role="presentation" aria-label="BOWL WITH SPOON"></i></a>
    </div>
    <p>TASTY</p>
    </section>
