    <section class="head">
        <div>
      <h1 class="title2">DinnerTime</h1>
      <hr class="hr2">
   
    </div>
    </section>
    <section class="body">
        <div class="container">
<img src="{{image}}" alt="{{name}}" class="img">
</div>
<div class="receipe">
    <h3>{{name}}</h3>
    <br>
    <p class="recipe">RECIPE: <br> <br>{{recipe}}</p>
   
</div>
    <div class="homeBtn">
      <a href="/" id="homeBtn">EAT</a>
    </div>
    <p>TASTY</p>
    </section>
