    <section class="head">
        <div>
      <h1 class="title2">DinnerTime</h1>
      <hr class="hr2">
   
    </div>
    </section>
    <section class="body">
        <div class="container">
<img src="/public/images/egg-fried-rice.jpg" alt="eggFried" class="img">
</div>
<div class="receipe">
    <h3>EGG FRIED RICE</h3>
    <br>
    <p>RECEIPE: <br> EGG, RICE, ONION</p>
   
</div>
    <div class="homeBtn">
      <a href="/" id="homeBtn">EAT</a>
    </div>
    <p>TASTY</p>
    </section>
