      <section class="header">
        <div>
      <h1 class="title">DinnerTime</h1>
   
    </div>
    </section>
   <section class="body">
      <div class="subtitle">
        <p class="welcomeMsg">Welcome! </p>
        <p class="description">This website will help you to decide which food you will take for your main dish.</p>
      </div>
        <form class="form" action="/dishes/:id" method="post">
          <div class="input1"><p>< Ingredient ></p>
            <input label="text" class="input"  type="text" name="ingredient1" value="">
          </div>
          <div class="input2"><p>< Ingredient ></p>
            <input label="Ingredient" class="input"  type="text" name="ingredient2" value="">
          </div>
          <div class="input3"><p>< Ingredient ></p>
            <input label="Ingredient" class="input"  type="text" name="ingredient3" value="">
          </div>
          <div class="btn">
            <button href="/dishes/:id" type="submit" id="cookBtn">COOK</button>
        </div>
        </form>
       
    </section>
