      <section class="header">
        <div>
      <h1 class="title">DinnerTime</h1>
   
    </div>
    </section>
   <section class="body">
      <div class="subtitle">
        <p class="welcomeMsg">Welcome! </p>
        <p class="description">This website will help you to decide which food you will take for your main dish.</p>
      </div>
      <div class="ingredients">
        <h4>Ingredients:
        </h4>
        <p>rice,  chicken,  pork, sesame oil, </p><p> broccolini,  sugar,  steak,  soy sauce, </p><p> potato,  pork bone,  chilli,  egg </p>
      </div>
      <div class="choice">
        <p>You must choose 3</p>
      </div>

        <form class="form" action="/dishes/" method="post">
          <div class="input1"><p>< Ingredient ></p>
            <input label="text" class="input"  type="text" name="ingredient1" value="">
          </div>
          <div class="input2"><p>< Ingredient ></p>
            <input label="Ingredient" class="input"  type="text" name="ingredient2" value="">
          </div>
          <div class="input3"><p>< Ingredient ></p>
            <input label="Ingredient" class="input"  type="text" name="ingredient3" value="">
          </div>
          <div class="btn">
            <button href="/dishes/" type="submit" id="cookBtn">COOK</button>
        </div>
        </form>
       
    </section>
