body {
  font-family: 'Playfair Display', serif;
  background-color: #d4b9a6;
  height: 100%;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(./images/dinnerTime.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
}

.title {
  font-size: 100px;
  color: white;
  background-color: #a15151;
  font-weight: 500;
  letter-spacing: 20px;
  padding-bottom: 30px;
}

.subtitle {
  padding-top: 50px;
  padding-bottom: 200px;
}

.welcomeMsg {
  font-size: 70px;
  letter-spacing: 10px;
  padding-bottom: 100px;
  font-weight: 400;
}

.description {
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: 200;
}

.body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.input {
  width: 200px;
  display: inline;
  height: 30px;
  border-radius: 10px;
}

.input1 {
  letter-spacing: 5px;
  margin-left: 150px;
}

.input2 {
  letter-spacing: 5px;
}

.input3 {
  letter-spacing: 5px;
  margin-right: 150px;
}

#cookBtn {
  /* display: block;
  width: 70px;
  height: 70px; */

  /* margin-top: 50px; */

  padding: 20px 40px;
  border-radius: 50px;
  margin-top: 100px;
  background-color: #a15151;
  color: #ffffff;
}

#cookBtn:hover {
  cursor: pointer;
  animation: Shake 0.5s linear infinite;
}

/*Using keyframes for shaking an image*/
@keyframes Shake {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-6deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.hr1 {
  width: 80%;
  margin-top: 100px;
  background-color: black;
  padding-top: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

/* Page 2 ------------------------------------------------------------------- */

.title2 {
  text-align: center;
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 20px;
  padding-bottom: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.hr2 {
  width: 80%;
  padding-top: 2px;
  background-color: black;
  margin-bottom: 200px;
}

.btn {
  position: absolute;
  margin-top: 80px;
}
.homeBtn {
  margin-top: 80px;
  margin-bottom: 20px;
}

#homeBtn {
  /* display: flex;
  flex-direction: column; */
  padding: 20px 40px;
  border-radius: 50px;
  margin-top: 300px;
  background-color: #a15151;
  color: #ffffff;
  text-decoration: none;
}

.homeBtn:hover {
  cursor: pointer;
  animation: Shake 0.5s linear infinite;
}

/*Using keyframes for shaking an image*/
@keyframes Shake {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-6deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.img {
  border: 3px solid black;
  border-radius: 100%;
  width: 700px;
  height: 700px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
