<!DOCTYPE html>
<html lang="En">
  <head>
    <meta charset="utf-8">
    <title>dinnertime</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <link rel="icon" href="data:,">
  </head>
  <body>
 {{{body}}}
{{>footer}}
  </body>
</html>
